@import '../fflconsole.css';

body {
/*    margin-left:15%;
    margin-right:15%;*/
}

svgMain {
	margin-left:auto; 
	margin-right: auto;
}

.axis path, .axis line {
	fill: none;
	stroke: black;
	shape-rendering: crispEdges;
}
			
.axis text {
	font-size: 11px;
}
			
p {
	font-size:22px;
}

h1 {
	font-size:36px;
}

h2 {
	font-size:28px;
}